body {
    background-image: url('../img/quera_home2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.form-container{
    height: 70vh;
    width: 70vh;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    margin: 20vh 50vh;
    padding: 20px 10px; 
    opacity: 0.95;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}
.custom-class,input {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
}
input:focus{
    border-color: dodgerblue;
      box-shadow: 0 0 0 2px dodgerblue;
      outline: 0 ;
  }
  

h1 {
    color: red;
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
    color: gray;
    font-size: 18px;
}
button {
    padding: 10px;
    border-radius: 5px;
    background-color: dodgerblue;
    border: none;
    color:#fff;
}
button:hover{
    background-color:green;
    cursor: pointer;
}
a {
    color: dodgerblue;
}

.error-message {
  color: red;
  font-weight: bold;
}

p.message-success {
    color: green;
    font-weight: bold;
}

p.message-error {
    color: red;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 80%; 
        margin: 20vh auto; 
    }
}

@media screen and (max-width: 480px) {
    .form-container {
        width: 90%; 
        margin: 10vh auto; 
    }

    form {
        margin-top: 20px; 
    }

}