{% extends "index.html" %} {% load static %}
<title>{% block title %} Home {% endblock %}</title>
{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" />

<div class="nav-container">
  <div class="nav-item item-one"><h1>Quera</h1></div>
  <div class="nav-item item-two">
    <img src="{% static 'img/home.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-three">
    <img src="{% static 'img/add-friend.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-four">
    <img src="{% static 'img/edit.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-five">
    <img src="{% static 'img/people.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-six">
    <img src="{% static 'img/notification.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-seven">
    <input type="search" class="search-quora" placeholder="Search Quora" />
  </div>
  <div class="nav-item item-eight">Try Quara+</div>
  <div class="nav-item item-nine">
    <img src="{% static 'img/internet.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-ten">
    <div class="post-container" onclick="">Add Question</div>
  </div>

  <div class="nav-item item-eleven">Hello,{{request.user}}</div>
  <div class="nav-item item-twelve">
    <a href="{% url 'logout' %}">Logout</a>
  </div>
</div>
<form class="post-form" action="{% url 'postques' %}" method="post">
  {% csrf_token %} {{ form.content }}
  <button class="cancel-button" onclick="closePostForm()">Cancel</button>
  <button type="submit">Post</button>
</form>

{% for question in questions %}
<div class="question-container">
  <div class="post-items">
    <p>{{ question.user.username }} asked:</p>
    <h1>{{ question.content }}</h1>
  </div>
  <div class="rest-container">
    <div class="post-items ans">Answer</div>
    <div class="post-items">
      <img src="{% static 'img/hotspot.png' %}" alt="follow" />
      Follow. 383
    </div>
    <div class="post-items">
      <img src="{% static 'img/add-contact.png' %}" alt="request" />
      Request
    </div>
    <div class="post-items">
      <img src="{% static 'img/info.png' %}" alt="details" />
    </div>
    <div class="post-items">
      <img src="{% static 'img/speech-bubble.png' %}" alt="comment" />
      2
    </div>
    <div class="post-items">
      <img src="{% static 'img/download.png' %}" alt="downVote" />
    </div>
    <div class="post-items">
      <img src="{% static 'img/menu-dots.png' %}" alt="three dots" />
    </div>
  </div>
</div>
{% endfor %}

<div class="answer-container">
  <p class="your-answer">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores earum quis
    pariatur ab nobis consequuntur, iusto hic ea cumque quibusdam, illum in
    saepe ducimus rem labore neque. Quaerat aut eum recusandae distinctio
    deleniti quae dicta aliquid sit, iste nulla adipisci pariatur reiciendis
    aliquam ipsam repudiandae veniam in inventore perspiciatis sapiente!
    Repellendus illum et enim fugiat earum suscipit asperiores consectetur,
    sequi quisquam rem adipisci dolores mollitia obcaecati? Recusandae eum unde
    reiciendis, doloremque error vero eius rerum eveniet deserunt quod dolores
    expedita sit reprehenderit vitae impedit, pariatur quisquam sapiente ex
    ullam nesciunt excepturi repellat sint harum. Natus, minus! Non id
    repudiandae voluptates.
  </p>
  <div class="answer-items">
    <div class="vote">
      <div class="ans-items">
        <img src="{% static 'img/up-arrow.png' %}" alt="upvote" />
        .34.5k
      </div>
      <div class="ans-items">
        <img src="{% static 'img/download.png' %}" alt="downvote" />
      </div>
    </div>
    <div class="ans-items">
      <img src="{% static 'img/speech-bubble.png' %}" alt="comment" />
      213
    </div>
    <div class="ans-items">
      <img src="{% static 'img/reload.png' %}" alt="share" />28
    </div>
    <div class="ans-items">
      <img src="{% static 'img/menu-dots.png' %}" alt="details" />
    </div>
  </div>
</div>
{% if errors %}
<div style="color: red">{{ errors }}</div>
{% endif %}

<script>
  function showPostForm() {
    console.log("showPostForm called");
    document.querySelector(".post-form").style.display = "block";
  }
  function closePostForm() {
    document.querySelector(".post-form").style.display = "none";
  }
</script>
{% endblock %}
