{% extends "index.html" %} {% load static %}
<title>{% block title %} Home {% endblock %}</title>
{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
<div class="nav-container">
  <div class="nav-item item-one"><h1>Quera</h1></div>
  <div class="nav-item item-two">
    <img src="{% static 'img/home.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-three">
    <img src="{% static 'img/add-friend.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-four">
    <img src="{% static 'img/edit.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-five">
    <img src="{% static 'img/people.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-six">
    <img src="{% static 'img/notification.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-seven">
    <input type="search" class="search-quora" placeholder="Search Quora" />
  </div>
  <div class="nav-item item-eight">Try Quara+</div>
  <div class="nav-item item-nine">
    <img src="{% static 'img/internet.png' %}" alt="Home Icon" />
  </div>
  <div class="nav-item item-ten">
    <div class="post-container" onclick="">Add Question</div>
  </div>

  <div class="nav-item item-eleven">Hello,{{request.user}}</div>
  <div class="nav-item item-twelve">
    <a href="{% url 'logout' %}"
      ><img src="{% static 'img/switch.png' %}" alt="logout-icon" />
    </a>
  </div>
</div>

<div class="form-container">
  <form class="post-form" action="{% url 'postques' %}" method="post">
    <div>{% csrf_token %} {{ form.content }}</div>
    <button type="submit" class="post-btn">Post</button>
  </form>
</div>

{% for ques in questions %}
<div class="question-container">
  <div class="post-text-items">
    <div class="user-ques-info">
      <div class="username">
        <p>{{ ques.user.username }} asked:</p>
      </div>   
      <div class="question-time">{{ques.created_at}}</div>
    </div>
    <h2>{{ ques.content }}</h2>
  </div>
  <div class="rest-container">
    <div class="items-without-three-dots">
      <span class="post-items ans" onclick="showAnswerForm({{ ques.id }})">
        <img
          class="answer-img"
          src="{% static 'img/document-editor.png' %}"
          alt="answer"
        />
        Answer
      </span>
      <div class="post-items">
        <img
          class="follow-img"
          src="{% static 'img/hotspot.png' %}"
          alt="follow"
        />
        Follow. 383
      </div>
      <div class="post-items">
        <img
          class="request-img"
          src="{% static 'img/add-contact.png' %}"
          alt="request"
        />
        Request
      </div>
      <div class="post-items">
        <img
          class="detail-img"
          src="{% static 'img/info.png' %}"
          alt="details"
        />
      </div>
      <div class="post-items">
        <img
          class="comment-img"
          src="{% static 'img/speech-bubble.png' %}"
          alt="comment"
        />
        2
      </div>
      <div class="post-items">
        <img
          class="down-img"
          src="{% static 'img/download.png' %}"
          alt="downVote"
        />
      </div>
    </div>
    <div>
      <div class="post-items">
        <img
          class="three-dots-img"
          src="{% static 'img/menu-dots.png' %}"
          alt="three dots"
        />
      </div>
    </div>
  </div>
</div>

<div id="overlay" class="overlay"></div>
<div class="modal" id="answerModal">
  <div class="modal-content">
    <span class="close" onclick="closeAnswerForm()">&times;</span>
    <form action="{% url 'postans' ques.id %}" method="post">
      {% csrf_token %} {{ ans_form.content }}
      <button type="submit" class="ans-post-btn">Post</button>
    </form>
  </div>
</div>
{% for answer in ques.answers.all %}
<div class="answer-container">
  <div class="answer-text-items">
    <p class="ques-attach-ans">Answer of : <p class="dynamic-answer">{{ answer.question.content }}</p></p>
    <p class="ans-main">
      {{ answer.user.username }} Answered:
      <p class="answer-content">{{ answer.content }} </p>
    </p>
  </div>
  <div class="answer-items">
    <div class="items-without-three-dots">
      <span class="upvote-downvote">
        <div class="ans-items" style="margin-left: 0">
          <button class="upvote-btn" data-answer-id="{{ answer.id }}">
            <img
              class="up-img"
              src="{% static 'img/up-arrow.png' %}"
              alt="upvote"
            />
            Upvote. <span class="upvote-count">{{ answer.upvotes }}</span>
          </button>
        </div>
        <div class="ans-items">
          |
          <button class="downvote-btn" data-answer-id="{{ answer.id }}">
            <img
              class="down-img"
              src="{% static 'img/download.png' %}"
              alt="downvote"
            />
          </button>
        </div>
      </span>
      <div class="ans-items">
        <img
          class="comment-img"
          src="{% static 'img/speech-bubble.png' %}"
          alt="comment"
        />
        213
      </div>
      <div class="ans-items">
        <img
          class="share-img"
          src="{% static 'img/reload.png' %}"
          alt="share"
        />28
      </div>
    </div>
    <div>
      <div class="ans-items">
        <img
          class="three-dots-img"
          src="{% static 'img/menu-dots.png' %}"
          alt="details"
        />
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endfor %} {% if errors %}
<div style="color: red">{{ errors }}</div>
{% endif %}
<script src="{% static 'js/homepage.js' %}"></script>
{% endblock %}
