
.nav-container{
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .nav-item {
    margin: 1rem;
  }
  .item-one {
    padding-bottom: 20px;
    color:rgb(170, 8, 8);

  }
  .item-eight {
    padding-bottom: 10px;
    padding-top: 10px;
    border: 0.5px solid lightgrey;
    border-radius: 20px;
    height: 20px;
    width: 90px;
    padding-left: 10px;
    background-color: azure;
    color: grey;
  }

  .item-eight:hover{
    cursor: pointer;
  }

  .item-ten {
    padding-bottom: 10px;
    padding-top: 10px;
    border: 0.5px solid rgb(170, 8, 8);
    border-radius: 20px;
    height: 20px;
    width: 140px;
    padding-left: 20px;
    background-color: rgb(170, 8, 8);;
    color: white;
  }
  .search-quora {
    border:none;
    border-radius:10px;
    padding:10px;
  }

  .question-container {
    border: 1px solid gray;
    margin-top: 10px;
    margin-left: 100px;
    width: 80vh;
    height: 40vh;
  }

  .post-items {
    margin-left: 1rem;
  }

  .rest-container {
    display: flex;
    align-items: center;
  }

  .answer-container {
    border: 1px solid gray;
    margin-top: 10px;
  }
  .answer-items {
    display:flex;
  }
  .ans-items {
    margin-left: 1.5rem;
  }
  .vote {
    display:flex;
  }

  .post-container {
    text-align: center;
}

.post-text {
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}

.post-text:hover {
    text-decoration: none;
}

.post-form {
    margin-top: 20px;
}

.post-btn {
  padding: 10px;
  width: 70px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: none;
  background-color: rgb(21, 150, 201);
  cursor: pointer;
  color: #fff;
}
.post-btn:hover {
  background-color: rgb(15, 171, 64);
  border: 1px solid gray;
  margin-top: 10px;
}

.form-container {
  margin-left: 10rem;
  margin-top: 2rem;
  
}

/* Add this CSS to your styles.css or within the <style> tag in your HTML head */
body.blur {
  filter: blur(5px);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Fallback for older browsers */
  backdrop-filter: blur(5px); /* Apply the blur effect */
  z-index: 1;
  display: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


